/* montserrat-300 - latin */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    color: rgb(102, 102, 102);
    position: fixed;
    overscroll-behavior-y: none;
}

#root {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

#container {
    height: 100%;
    -ms-touch-action: none;
    touch-action: none;
}

.bar {
    position: absolute;
    background-color: black;
    z-index: 10;
}

.vertical.bar {
    left: 50%;
    height: 100%;
    width: 1px;
}

.horizontal.bar {
    top: 50%;
    width: 100%;
    height: 1px;
}

#map {
    height: 100%;
    pointer-events: none;
}

.image {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.image-container {
    position: absolute;
    will-change: transform;
    pointer-events: none;
}

.image-container .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    will-change: width, height;
    cursor: pointer;
    pointer-events: auto;
}

.image-container .legend {
    margin-top: 12px;
    text-rendering: optimizeSpeed;
    font-size: 14px;
    /*text-transform: uppercase;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.debug-info {
    position: absolute;
    color: white;
    z-index: 1000;
    width: 300px;
    left: 300px;
    top: 200px;
    opacity: 0.6;
    display: flex;
    flex-wrap: wrap;
}
